<div id="container-instructions">

    <h1>Part 2 - Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
            You will answer each question based on a scale from 1 to 7, with 1 being the lowest possible value and 7 being the highest possible value. 

        </p>

        <p>
            To answer each question and continue onto the next question, use the number keys 1, 2, 3, 4, 5, 6, 7 on your keyboard to indicate your answer. 
        </p>

        <p> 
            Click "next" to see an example question. 

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
