<div id="container-instructions">

    <h1>Part 2 - Example Question</h1>

    <hr>

    <div class="instructions well">

        <p>
            For example, for the following statement you would indicate how much you like the described activity by providing a rating using the following scale: 
        </p>

        <p align="center"> 
            <img src="static/images/DospertExample.png" width="75%"> 
        </p>

        <p>
            Statement: Climbing trees. 
        </p>

        <p>
            Sample Answer: If I really like climbing trees, I would press the "6" key on the keyboard. 

        </p> 

        <p>
            Click "next" to begin the first questionnaire.
        </p> 

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onClick="Dospert3()";>
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
