<div id="container-instructions">

    <h1>Part 2 - Questionnaire 1</h1>

    <hr>

    <div class="instructions well">

       <p>
            For each of the following statements, please indicate how much benefit you think that you would obtain from each situation. Provide a rating from 1 to 7, using the following scale:   
        </p>
        
        <p align="center">
            <img src="static/images/ExpectedBenefits.png" width="75%"> 
        </p>

        <p>
            Remember to use the number keys 1-7 to indicate your answer. 
        </p>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">	
                <!-- <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button> -->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin questionnaire<span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
