<div id="container-instructions">

    <h1>Part 2 - Example Question</h1>

    <hr>

    <div class="instructions well">

        <p>
            For the following statement, please indicate how much you like the described activity.  Provide a rating from Hate to Love, using the following scale: 
        </p>

        <p> 
            <img class="example" src="static/images/Example.jpg" height="100" width="1000" align="middle"> 
        </p>

        <p>
            Statement: Climbing trees. 
        </p>

        <p>
            Sample Answer: If I really like climbing trees, I would press the "6" key on the keyboard. 

        </p> 

        <p>
            Click "next" to continue
        </p> 


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onClick="Dospert3()";>
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
