<div id="container-instructions">

    <h1>Part 3 - Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
            At the end, one of the gambles that you took will be chosen at random and will be played out for real and the outcome will be added to your earnings.
        </p>

        <p>
            Press "Begin" when you are ready to start.
        </p>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">  
                <!-- <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button> -->
            </div>
            <div class="col-xs-8">
                <center>
                    <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
                    Begin questionnaire<span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
