<div id="container-instructions">

    <h1>Part 1 - Instructions</h1>

	<div class="instructions well">

        <p>
           You are almost ready to begin the task. 
        </p>

        <p>
           Please note that if you take too long to respond on a single trial, or miss too many trials, the HIT will be aborted and you will not have the opportunity to earn the full amount from the experiment. 
        </p>

        <p>
           Click "Next" to begin.
        </p>

	</div>

	<hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
