<div id="container-instructions">

	<h1>Part 3 - Instructions</h1>

	<hr>

	<div class="instructions well">

	    <p>
		    In Part 3 of the experiment, you will have three questionnaires that you must complete in order to finish.  
	    </p>
	    
	    <p>
	    	Please click "Next" to proceed to the first questionnaire.  
        </p>

        <p>
        	
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onClick="EBInstructions();">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
