<div id="container-instructions">

	<h1>Questionnaire 1 - Instructions</h1>

	<hr>

	<div class="instructions well">

	    <p>
		    For each of the following statements, please indicate the benefits you would obtain from each situation.  Provide a rating from 1 to 7, using the following scale:   
	    </p>
	    
	    <p>
	    	<img src="static/images/ExpectedBenefits.jpg" height="120" width="1000" align="middle"> 
        </p>

        <p>
        	
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onClick="RPQuestionnaire();">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
