<div id="container-instructions">

	<h1>Questionnaire 2 - Instructions</h1>

	<hr>

	<div class="instructions well">

	    <p>
		    For each of the following statements, please indicate how risky you perceive each situation.  Provide a rating from Not at all Risky to Extremely Risky, using the following scale:   
	    </p>
	    
	    <p>
	    	<img src="static/images/RiskPerceptions.jpg" height="120" width="1000" align="middle"> 
        </p>

        <p>
            Remember to use the number keys 1-7 to indicate your answer.
        	
        </p>

         <p>
            Press any number 1-7 to continue.
            
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


  