<div id="container-instructions">

	<h1>Questionnaire 3 - Instructions</h1>

	<hr>

	<div class="instructions well">

	    <p>
		    For each of the following statements, please indicate the likelihood that you would engage in the described activity or behavior if you were to find yourself in that situation.  Provide a rating from Extremely Unlikely to Extremely Likely, using the following scale:    
	    </p>
	    
	    <p>
	    	<img src="static/images/DOSPERTLikelihoodScale.jpg" height="150" width="1000" align="middle"> 
        </p>

        <p>
            Remember to use the number keys 1-7 to indicate your answer.
        	
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onClick="RTQuestionnaire();">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
