<!doctype html>
<!-- 
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to 
  describe what people can do if an error comes up, etc...
-->
<html>
    <head>
        <title>Psychology Experiment - Informed Consent Form</title>
        <link rel=stylesheet href="/static/css/bootstrap.min.css" type="text/css">
        <link rel=stylesheet href="/static/css/style.css" type="text/css">
        <script type="text/javascript">
            function onexit() {
              self.close(); // no harm, no foul here
            }
        </script>
    </head>
    <body>
        <div id="container-consent">
            <div id="consent">
                <h1 align="center">Consent Form</h1>
                <hr>
                <div class="legal well">

                    <!-- start consent form -->

                     <p class="warm">Hello! Thank you for taking the time to
                    participate in this experiment. Below is a consent form that
                    describes the nature of the experiment, what to expect, and how you will be measured. Please take the time to read this over before deciding to participate in this experiment.</p>
                    <div class="legal">
                    <p> TITLE OF RESEARCH: Behavioral studies of learning and decision-making
                    </p>

                    <p> INVESTIGATORS: Yael Niv, Angela Radulescu, Katharine Holmes
                    </p>

                    <p> The following informed consent is required by Princeton University for any person involved in a research study conducted by investigators at the University.  This study has been approved by the University's Institutional Review Board for Human Subjects. The study is funded by the National Institute of Health and the United States Department of Defense.  
                    </p>

                    <p>I understand that: </p>

                    <ol>
                      <li><p>I will be presented with a series of stimuli on a computer screen and asked to perform simple decisions in response to these stimuli. I will receive detailed instructions on how to perform the task, and there will be time for me to ask questions regarding the instructions. The activities in the study carry no risk to me as they only involve operating a desktop computer. The task involved in the experiment does require some mental effort. I will receive no direct benefit from this research, except in so far as I may learn something about psychology and may derive satisfaction from knowing that my participation has advanced scientific understanding of human cognition. I understand that the study staff will not make any clinical diagnosis based on results from this study.</p> </li>
                      <li><p>My participation is voluntary, and I may withdraw my consent and discontinue participation in the project at any time.  My refusal to participate will not result in any penalty.</p></li>
                      <li><p>By signing this agreement, I do not waive any legal rights or release Princeton University, its agents, or you from liability for negligence.</p></li>
                      <li><p>Federal or DOD representatives may have access to research records for the purpose of protecting human subjects.</p></li>
                    </ol>

                    <!-- end consent form -->

                    <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
                    <span class="glyphicon glyphicon-print"></span> Print a copy of this
                    </button>
                </div>

                <hr>
                <h4>Do you understand and consent to these terms?</h4>
                <br>

                <center>
                    <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
                    <span class="glyphicon glyphicon-ok"></span> I agree 
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
                    <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this HIT
                    </button>
                </center>

            </div>
        </div>
    </body>
</html>

