<div id="container-instructions">

    <h1>Questionnaire 1 - Instructions</h1>

    <hr>

    <div class="instructions well">

       <p>
            For each of the following statements, please indicate the benefits you think that you would obtain from each situation.  Provide a rating from 1 to 7, using the following scale:   
        </p>
        
        <p>
            <img src="static/images/ExpectedBenefits.jpg" height="120" width="1000" align="middle"> 
        </p>

        <p>
            Remember to use the number keys 1-7 to indicate your answer. 
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue" onClick="EBQuestionnaire();">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
