<div id="container-instructions">

	<h1>Part 2 - Instructions</h1>

	<hr>

	<div class="instructions well">

	    <p>
		    In this part of the experiment, you will be asked three types of questions: some will ask how much benefit you think you might gain from a situation, some will ask how risky you percieve a situation to be, and some will ask how willing you would be to put yourself a situation.   
	    </p>
	    

        <p>
        	Click "next" to continue.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onClick="Dospert1();">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
