<div id="container-instructions">

	<h1>Part 2 - Questionnaire 2</h1>

	<hr>

	<div class="instructions well">

	    <p>
		    For each of the following statements, please indicate how risky you perceive each situation.  Provide a rating using the following scale:   
	    </p>
	    
	    <p align="center"> 
	    	<img src="static/images/RiskPerceptions.png" width="1000"> 
        </p>

        <p>
            Remember to use the number keys 1-7 to indicate your answer.
        	
        </p>

         <p>
            Press any number 1-7 to continue.
        </p>

	</div>

	<hr>


  