<div id="container-instructions">

	<h1>Questionnaire 3 - Instructions</h1>

	<hr>

	<div class="instructions well">

	    <p>
		    For each of the following statements, please indicate the likelihood that you would engage in the described activity or behavior if you were to find yourself in that situation.  Provide a rating using the following scale:    
	    </p>
	    
	    <p align="center">
	    	<img src="static/images/LikelihoodScale.png" width="1000"> 
        </p>

        <p>
            Remember to use the number keys 1-7 to indicate your answer.
        	
        </p>
        
        <p>
            Press any number key 1-7 to to continue.    
        </p>

	</div>

	
