<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

	    <p>
            In the first part, you will be asked to make a choice between pairs of gambles. Each gamble will look like the one below. 
        </p>

        <p>
            "1/10 of $2.00 or 9/10 of $1.60"
        </p>

         <p>
            This means that if you take this gamble, you have a 1 in 10 chance of winning $2 and a 9 in 10 chance of winning $1.60.
        </p>

        <p>
           On each trial, you will see two such gambles and press "B" if you want to take the gamble on the left and "M" if you want to take the gamble on the right.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onClick="HLInstructions2();">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
