<div id="container-instructions">

	<h1>Congratulations, you are finished with Part 1 of the Experiment!</h1>

	<hr>

	<div class="instructions well">

	    <p>
		    
	    </p>
	    
	    <p>
	    	*** Please click "Next" to continue to Part 2 when you are ready *** 
        </p>

        <p>
        	
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onClick="HLInstructions2();">
                Next <span class="glyphicon glyphicon-arrow-right" ></span>
                </button>
            </div>
        </div>
    </div>

</div>
