<div id="container-instructions">

	<div class="instructions well">

	    <p>
		    In this part of the experiment, you will be making choices between symbols. Your goal will be to earn as many points as possible. Every 5 points you make translate into 1 cent.
	    </p>

        <p>
            You will play a game in which there are 4 unique symbols (shown below). Think of each symbol as a slot machine in a casino. It has a certain amount of points that it can reward you with. 
        </p>

        <br>

        <p align="center">
             <img src="static/images/S1.png" width="100px"> 
             <img src="static/images/S2.png" width="75px">
             <img src="static/images/S3.png" width="100px">
             <img src="static/images/S4.png" width="75px">
        </p>

        <br>

        <p>
            As you play the game, keep in mind that the points you earn for playing a slot machine depend only on the symbol, not its location on the screen, or your responses in previous trials.
        </p>

	    <p>
	    	Click "Next" to continue.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
