<div id="container-instructions">

	<div class="instructions well">

        <p>
           Some trials will include only one slot machine that you have to choose, as in the example below. 
        </p>

        <p align="center">
            <img class="example" src="static/images/example1.png"> 
        </p>

        <p>
           Others will include two slot machines that you can choose between.
        </p>

        <p align="center">
            <img class="example" src="static/images/example2.png"> 
        </p>

        <p>
            In order to play the left slot machine, press ''B''.
            In order to play the right slot machine, press ''M''.
        </p>

	    <p>
	    	Click "Next" to continue.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
