<div id="container-instructions">

	<div class="instructions well">

	    <p>
		  Let's begin with a few practice trials. 
	    </p>

        <p>
           What you earn now will not count towards the total, but the rules of the casino are the same as in the real game. So it will help you to pay attention.
        </p>

        <p>
           Some trials will include only one slot machine (to play it, press the button that corresponds to its location). Others will include two slot machines that you can choose between.
        </p>

        <p>
            In order to play a slot machine, press ''B'' for the one on the left or ''M'' for the one on the right.
        </p>

	    <p>
	    	Press "Next" to start the practice.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
