<div id="container-instructions">

	<h1>You are finished with training!</h1>

	<hr>

	<div class="instructions well">

	    <p>
		    Great! You are now ready for the real game. The rules will be the same, only this time the money you earn will count towards your total.
	    </p>
	    
	    <p>
	    	When you are ready, please click the "Next" button to start playing.
        </p>

        <p class="warm">
        	Good luck!
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onclick="continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
